input[type=text]{
  outline: none;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

.form-control {
  border-radius: 0rem !important;
  outline:none !important;
  background-color: #192038;
  color: white;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
  font-size: small;
  font-weight: 900;
  font: 10px;
}

input:focus {
  outline:none !important;
  background-color: #192038;
}

input[type="text"] {
  outline: none;
  box-shadow:none !important;
}

.btn:focus{
  outline: none;
 }

 [dir="rtl"]{
  *{
    text-align: right !important;
  }
 }


 *{
  text-align: left !important;
}

.continuebtn{
  background-color: #D22630;
  color: white;
}

.card{
  border-radius: 0 !important;
}
